
<header >
  <div class="jumbotron jumbotron-fluid mb-0 " style="background-color: #b1d0d8; padding: 3em" >
    <div class="container">
      <h1 class="display-4">LocAway</h1>
      <p class="lead">Votre site  de location saisonnières</p>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin: auto;">
        <li class="nav-item" style="margin: 0em 2em 0em 2em">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item" style="margin: 0em 2em 0em 2em">
          <a class="nav-link" href="#">Que faire ?</a>
        </li>
        <li class="nav-item" style="margin: 0em 2em 0em 2em">
          <a class="nav-link" href="#">Le concept LocAway</a>
        </li>
        <li class="nav-item" style="margin: 0em 2em 0em 2em">
          <a class="nav-link" href="#">Publier</a>
        </li>
        <li class="nav-item" style="margin: 0em 2em 0em 2em">
          <a class="nav-link" [routerLink]="['/connexion']" routerLinkActive="active">Connexion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<router-outlet></router-outlet>

