<div class="container">
  <div class="row mt-3 mb-3">
    <h1>Mon tableau de bord</h1>
  </div>
  <ngb-tabset>
    <ngb-tab title="Mes informations personnelles">
      <ng-template ngbTabContent>
        <h5>Mes informations</h5>
        <div class="form-row">
          <div class="form-group col">
            <label for="Prenom">Prénom</label>
            <input type="text" class="form-control" id="Prenom" [(ngModel)]="connectedU.firstName">
          </div>
          <div class="form-group col">
            <label for="Nom">Nom</label>
            <input type="text" class="form-control" id="Nom" [(ngModel)]="connectedU.lastName">
          </div>
          <div class="form-group col">
            <label for="NumTel">Numéro de téléphone</label>
            <input type="text" class="form-control" id="NumTel" [(ngModel)]="connectedU.phoneNumber">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="Email">Adresse Email</label>
            <input type="text" class="form-control" id="Email" [(ngModel)]="connectedU.email">
          </div>
        </div>
      <button type="button" class="btn btn-primary btn-lg">
        <i class="fa fa-floppy-o" (click)="save()"></i>
      </button>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Mon historique">
      <ng-template ngbTabContent>
        <div class="mt-3">
          <div *ngFor="let booking of connectedU.bookings" class="row">
            <div>
              <booking [booking_id]="booking.id"></booking>
            </div>
          </div>
        </div>



      </ng-template>
    </ngb-tab>
    <ngb-tab title="Mes annonces">
      <ng-template ngbTabContent>
        <div class="mt-3">
          <div *ngFor="let accomodation of connectedU.accomodations" class="row">
            <div>
              <accomodation [accomodation_id]="accomodation.id"></accomodation>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Avis laissés">
      <ng-template ngbTabContent>
        <p>Avis laissés</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Avis reçus">
      <ng-template ngbTabContent>
        <p>Avis reçus</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


