<div class="container">
  <div class="row mt-3">
    <div class="col-8">
      <div class="row" style="margin: 5px">
        <h1>{{accomodation?.name}}</h1>
      </div>
      <div class="row" style="height: 500px;">
        <ngb-carousel *ngIf="accomodation?.photos" class="text-lg-center w-100 h-100 d-flex" data-interval="false" style="align-items: center;overflow: hidden;background-color: black;">
          <ng-template ngbSlide *ngFor="let image of accomodation?.photos">
            <div>
              <img [src]="image.path" class="mw-100">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="row, angular-with-newlines">
      <div class="row" style="margin: auto; margin-top: 25px">
        <p>{{accomodation?.description}}</p>
      </div>
      <div class="row">
        <div class="col">
          <h5>Equipements :</h5>
          <p *ngFor="let option of accomodation?.optionsE">{{option.name}}</p>
        </div>
        <div class="col">
          <h5>Règlement interieur :</h5>
          <p *ngFor="let option of accomodation?.optionsR" >{{option.name}}</p>
        </div>
        <div class="col">
          <h5>A voir:</h5>
          <p *ngFor="let poi of accomodation?.pointOfInterests">{{poi.name}}</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="ml-3" style="margin: auto; margin-top: 20px">
          <h2>Disponibilités</h2>
          <ngb-datepicker *ngIf="asyncDataLoaded" [markDisabled]="isDisabled" outsideDays="hidden" style="margin: 5px"></ngb-datepicker>
        </div>
      </div>
      <div class="row" style="margin: auto; margin-top: 10px">
        <a class="btn btn-primary" [routerLink]="['/booking-form', accomodation_id]" routerLinkActive="active">Réserver</a>
      </div>
      <div class="row">
        <div class="ml-3" style="margin: auto; margin-top: 20px">
          <h2>Tarifs</h2>
          <h5>Tarifs de base</h5>
          <p>Par jour: {{accomodation?.defaultBasePrice | currency:'EUR'}} - Supplément par personne: {{accomodation?.defaultPersonPrice | currency:'EUR'}}</p>
          <h5>Tarifs spéciaux</h5>
          <p *ngFor="let cpd of accomodation?.customPriceDays">{{cpd.date | date}} - {{cpd.basePrice | currency:'EUR'}} - {{cpd.personPrice | currency:'EUR'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="ml-3" style="margin: auto; margin-top: 20px">
          <h2>Contacter</h2>
          <p>{{accomodation?.user.email}}</p>
          <p>{{accomodation?.user.phoneNumber}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
