<div class="container">
  <h1>Réservation</h1>
  <div class="row mt-3">
    <div>
      <a class="btn btn-info ml-3 mt-2" [routerLink]="['/accomodation-detail', accomodation_id]" routerLinkActive="active"> < Retour vers l'annonce</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="row">

        <ngb-datepicker #dp *ngIf="asyncDataLoaded" (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"  [markDisabled]="isDisabled" outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused" let-disabled="disabled">
          <span class="custom-day"
                [class.text-muted]="disabled"
                [class.booked]="disabled"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      <div class="row" style=" margin-top: 10px">
        <div *ngIf="!validateBookingDates()" class="alert alert-danger" role="alert" >
          Veuillez sélectionner uniquement des jours disponibles
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h3>Détails</h3>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="nbOfPersons">Nombre de personnes: </label>
          <input id="nbOfPersons" class="form-control" type="number" min="1" [max]="accomodation?.maxPersons" [(ngModel)]="numberOfPersons"/>
        </div>
      </div>
      <div class="row">
        <p>Réservation du {{ngbDateToDate(fromDate) | date}} <span *ngIf="toDate">au {{ngbDateToDate(toDate) | date}}</span></p>
      </div>
      <div class="row" *ngIf="accomodation?.user.id!==connectedU?.id">
        <p>Prix total: {{totalBookingPrice() | currency:'EUR'}}</p>
      </div>
      <div class="row" *ngIf="accomodation?.user.id!==connectedU?.id">
        <button style="margin-bottom: 2em" [disabled]="!validateBookingDates()" class="btn btn-primary ml-3 btn-lg"
                (click)="saveBooking()">Valider la réservation
        </button>
      </div>

      <div class="alert alert-success" role="alert" style=" margin-top: 10px" *ngIf="bookingOK">
        Réservation enregistrée !
      </div>

      <div class="row" *ngIf="accomodation?.user.id==connectedU?.id">
        <button [disabled]="!validateBookingDates()" class="btn btn-warning ml-3 btn-lg"
                (click)="saveNotBooking()">Rendre indisponible
        </button>
      </div>
      <div class="alert alert-success" role="alert" style=" margin-top: 10px" *ngIf="notBookingOK">
        Indisponibilité enregistrée !
      </div>
    </div>
  </div>
</div>
