
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4" style="display: flex; padding: 1%">
        <img src="{{accomodation?.photos[0].path}}" class="card-img" style="width: 100%; margin: auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a class="stretched-link" [routerLink]="['/accomodation-detail', accomodation_id]" routerLinkActive="active">{{accomodation?.name}}</a></h5>
          <p class="card-text" class="giveMeEllipsis">{{accomodation?.description}}</p>
          <p class="card-text"><small class="text-muted">{{accomodation?.city}} ({{accomodation?.postcode}}), {{accomodation?.country}}</small></p>
        </div>
      </div>
    </div>
  </div>

