<div class="container" >
  <div>
    <h6>Rechercher une location</h6>
  </div>

  <!--  RECHERCHE -->

  <div class="form-row, d-flex align-items-end" style="border-top: darkgray 1px solid">

    <!--  Destination -->

    <div class="form-group col-2">
      <label for="typeahead-basic" class="col form label"></label>
      <input id="typeahead-basic" name="name" [(ngModel)]="city" (change)="listByCity(city)" [ngbTypeahead]="search" type="text" class="form-control" placeholder="Destination">
    </div>

    <!--  Calendar -->

    <form class="form-inline, d-flex">
      <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker"
                 class="form-control"
                 ngbDatepicker
                 #datepicker="ngbDatepicker"
                 [autoClose]="'outside'"
                 (dateSelect)="onDateSelection($event)"
                 [displayMonths]="2"
                 [dayTemplate]="t"
                 outsideDays="hidden"
                 [startDate]="fromDate">
          <ng-template #t let-date let-focused="focused">

            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input #dpFromDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpFromDate"
                 [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><fa name="calendar"></fa></button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group">
          <input #dpToDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpToDate"
                 [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><fa name="calendar"></fa></button>
          </div>
        </div>
      </div>
    </form>

    <!--  ex Calendar -->
<!--    <form class="form-inline, d-flex align-items-end">
      <div class="form-group hidden-col-1">
        <div class="input-group">
          <input name="datepicker"
                 class="form-control"
                 ngbDatepicker
                 #datepicker="ngbDatepicker"
                 [autoClose]="'outside'"
                 (dateSelect)="onDateSelection($event)"
                 [displayMonths]="1"
                 [dayTemplate]="t"
                 outsideDays="hidden"
                 [startDate]="fromDate"
                 placeholder="Choisir les dates">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
              <fa name="calendar"></fa>
            </button>
          </div>
        </div>
      </div>
    </form>-->


    <!--  Personnes -->

    <!--  <div class="form-group col-1">-->
    <!--    <label class="col form label">Personnes</label>-->
    <!--    <input type="number" [(ngModel)]="person" (change)="filtrePerson()" class="form-control">-->
    <!--  </div>-->

    <!--  Personnes 2 -->
    <div class="form-group col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="dropPersonnes" ngbDropdownToggle>Personnes</button>
        <div ngbDropdownMenu aria-labelledby="dropPersonnes">
          <form style="height: auto; width: auto">
            <div class="form-check">

              <label class="form-check-label" for="Appartement" ngbButtonLabel>
                <div class="form-group col-10">
                  <label class="col form label">Pour</label>
                  <input type="number" [(ngModel)]="person" [ngModelOptions]="{standalone: true}" (change)="filtre()" class="form-control">
                  <span>et plus</span>
                </div>
              </label>

            </div>
          </form>
        </div>
      </div>
    </div>

    <!--  Chambres -->

    <!--  <div class="form-group col-1">-->
    <!--    <label class="col form label">Chambres</label>-->
    <!--    <input type="number" [(ngModel)]="rooms" (change)="filtreRoom()" class="form-control">-->
    <!--  </div>-->

    <!--  Chambres 2 -->

    <div class="form-group col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="dropChambres" ngbDropdownToggle>Chambres</button>
        <div ngbDropdownMenu aria-labelledby="dropChambres">
          <form style="height: auto; width: auto">
            <div class="form-check">

              <label class="form-check-label" for="Appartement" ngbButtonLabel>
                <div class="form-group col-10">
                  <label class="col form label">A partir de </label>
                  <input type="number" [(ngModel)]="rooms" [ngModelOptions]="{standalone: true}" (change)="filtre()" class="form-control">
                  <span>chambres</span>
                </div>
              </label>

            </div>
          </form>
        </div>
      </div>
    </div>

    <!--  TYPE : TODO Gérer l'énum-->

    <div class="form-group col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="dropTDB" ngbDropdownToggle>Type de bien</button>
        <div ngbDropdownMenu aria-labelledby="dropTDB">
          <form style="height: auto; width: auto">
            <div class="form-check">
              <label class="form-check-label" for="Appartement" ngbButtonLabel>
                <input class="form-check-input" name="appart" [(ngModel)]="appartment" (change)="checkbox()" type="checkbox" id="Appartement" ngbButton> Appartement
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="Maison" ngbButtonLabel>
                <input class="form-check-input" name="maison" [(ngModel)]="house" (change)="checkbox()" type="checkbox" id="Maison" ngbButton>Maison
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="ChambreDHote" ngbButtonLabel>
                <input class="form-check-input" name="chambredhote" [(ngModel)]="guesthouse" (change)="checkbox()" type="checkbox" id="ChambreDHote" ngbButton> Chambre d'hôtes
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!--  Rules -->


    <!--  <div class="form-group col">-->
    <!--    <div ngbDropdown class="d-inline-block">-->
    <!--      <button class="btn btn-outline-secondary" id="dropRI" ngbDropdownToggle>Règlement Interieur</button>-->
    <!--      <div ngbDropdownMenu aria-labelledby="dropRI">-->
    <!--        <form style="height: auto; width: auto">-->
    <!--          <div class="form-check">-->
    <!--            <label class="form-check-label" for="Fumeur" ngbButtonLabel>-->
    <!--              <input class="form-check-input" type="checkbox" id="Fumeur" ngbButton> Fumeur-->
    <!--            </label>-->
    <!--          </div>-->
    <!--          <div class="form-check">-->
    <!--            <label class="form-check-label" for="Animaux" ngbButtonLabel>-->
    <!--              <input class="form-check-input" type="checkbox" id="Animaux" ngbButton>Animaux-->
    <!--            </label>-->
    <!--          </div>-->
    <!--        </form>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->


  </div>

  <!--  FIN RECHERCHE -->

  <div *ngIf="!accomodations && !accomodationsfiltrees">
    <div *ngFor="let accomodation of list()">
      <div class="row">
        <div>
          <accomodation [accomodation_id]="accomodation.id"></accomodation>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="accomodationsfiltrees && !accomodations">
    <div *ngFor="let accomodation of accomodationsfiltrees">
      <div class="row">
        <div>
          <accomodation [accomodation_id]="accomodation.id"></accomodation>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="accomodations && !accomodationsfiltrees">
    <div *ngFor="let accomodation of accomodations">
      <div class="row">
        <div>
          <accomodation [accomodation_id]="accomodation.id"></accomodation>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="accomodationsfiltrees && accomodations">
    <div *ngFor="let accomodation of accomodationsfiltrees">
      <div class="row">
        <div>
          <accomodation [accomodation_id]="accomodation.id"></accomodation>
        </div>
      </div>
    </div>
  </div>
</div>

