<div class="container">
  <h2>Le concept Locaway</h2>
  <div class="row">
    <div class="col-8">
      <h4> Vous êtes propriétaire</h4>
      <h5> Vous possédez un bien immobilier que vous souhaitez mettre en location saisonnière ?</h5>
      <p>
        Avec Locaway, vous pouvez gérer la location  entre particuliers de vos biens. Vous pouvez créer vos annonces,
        y entrer les informations de votre bien, y ajouter des photos et renseigner le calendrier de réservation ainsi que les tarifs.
        Vous êtes totalement autonome sur la gestion locative de votre bien sans payer de surcoût.
      </p>
      <h4> Vous souhaitez louer un bien pour vos vacances</h4>
      <h5>Vous souhaitez louer un appartement, une maison ou une chambre d'hôte pour vos vacances ? </h5>
      <p>
        Locaway vous permet de consulter les annonces de biens disponibles dans le lieux et les dates de votre choix.
        Vous pouvez voir les disponibilités du bien, consulter les tarifs et tous les détails et tout cela avant de réserver quoi que ce soit. 
      </p>
    </div>
    <div class="col-4" style="display: flex; ">
    <img src="https://cdn.pixabay.com/photo/2018/03/10/19/14/fiescheralp-3214980_960_720.jpg"
    style="width: 100%; margin: auto">
    </div>
  </div>
</div>


