<div class="container">
  <h2>Le concept Locaway</h2>
  <h4> Vous êtes propriétaire</h4>
  <h5> Vous possédez un bien immobilier que vous souhaitez mettre en location saisonnière ?</h5>
  <p>
    Avec Locaway, vous pouvez gérer la location  entre particuliers de vos biens. Vous pouvez créer vos annonces,
    y entrer les informations de votre bien, y ajouter des photos et renseigner le calendrier de réservation ainsi que les tarifs.
  </p>
  <h4> Vous souhaitez louer un bien pour vos vacances</h4>
  <h5>Vous souhaitez louer un appartement, une maison ou une chambre d'hôte pour vos vacances ? </h5>
  <p>
    Locaway vous permet de consulter les annonces de biens disponibles dans le lieux et les dates de votre choix.
  </p>
</div>


