<div class="container">
<div class="col-4" style="display: inline-flex; flex-direction: column"><h2>J'ai déjà un compte</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signin" [(ngModel)]="coUser.email" [ngClass]="{'is-invalid':!verifCoUserEmail}">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Mot de passe" id="password-signin" [(ngModel)]="coUser.password" [ngClass]="{'is-invalid':!verifCoUserPassword}">
  </div>
  <div class="form-group">
    <div *ngIf="userService.unvalidLogin" class="alert alert-danger" role="alert" >
      Email et/ou mot de passe invalide(s)
    </div>
    <button type="button" class="btn btn-success" (click)="connect()">
      <fa name="check"></fa>
    </button>
    <button type="button" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
  </div>

</div>
<div class="col-8" style="display: inline-flex; flex-direction: column">
  <h2>Je créé mon compte LocAway :</h2>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Nom" id="last-name" [ngClass]="{'is-invalid':!veriflastname}" [(ngModel)]="currentUser.lastName">
    <input type="text" class="form-control" placeholder="Prénom" id="first-name" [ngClass]="{'is-invalid':!veriffirstname}" [(ngModel)]="currentUser.firstName">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signup" [ngClass]="{'is-invalid':!verifmail}" [(ngModel)]="currentUser.email">
    <input type="text" class="form-control" placeholder="Numéro de téléphone" id="phone-number" [ngClass]="{'is-invalid':!verifphone}" [(ngModel)]="currentUser.phoneNumber">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="password" class="form-control" placeholder="Mot de passe" id="password-signup" [ngClass]="{'is-invalid':!verifpwd}" [(ngModel)]="currentUser.password">
    <input type="password" class="form-control" placeholder="Confirmer le mot de passe" id="password-confirm" [ngClass]="{'is-invalid':!verifpwd2}" [(ngModel)]="confirmPassword">
  </div>
  <div class="form-group">
    <input type="checkbox" [ngClass]="{'negatif':!veriftos}" style="margin-left: .5em" id="terms-of-service" [(ngModel)]="termofservice">
    <label for="terms-of-service" [ngClass]="{'negatif':!veriftos}" style="display: inline; margin: .5em">Accepter les conditions d'utilisation du site</label>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success" (click)="save()">
      <fa name="check"></fa>
    </button>
    <button type="validate" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
    <div class="row" style="margin: 15px">
      <div class="alert alert-success" *ngIf="inscrit">
        Inscription réussie !
      </div>
    </div>
  </div>
</div>
</div>
