
<div class="col-4" style="display: inline-flex; flex-direction: column"><h2>J'ai déjà un compte</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signin" [(ngModel)]="coUser.email">
  </div>
  <div *ngIf="unvalidLogin==true">Identifiants invalides</div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Mot de passe" id="password-signin" [(ngModel)]="coUser.password">
  </div>
  <div class="form-group">
    <input type="checkbox" style="margin-left: .5em" id="remember-me"><p style="display: inline; margin: .5em">Rester connecté</p>
    <button type="button" class="btn btn-primary" (click)="connect()">
      <fa name="check"></fa>
    </button>
    <button type="button" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
  </div>

</div>
<div class="col-8" style="display: inline-flex; flex-direction: column"><h2>Je créé mon compte LocAway :</h2>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Nom" id="last-name" [(ngModel)]="currentUser.lastName">
    <input type="text" class="form-control" placeholder="Prénom" id="first-name" [(ngModel)]="currentUser.firstName">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signup" [(ngModel)]="currentUser.email">
    <input type="text" class="form-control" placeholder="Numéro de téléphone" id="phone-number" [(ngModel)]="currentUser.phoneNumber">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Mot de passe" id="password-signup" [(ngModel)]="currentUser.password">
    <input type="text" class="form-control" placeholder="Confirmer le mot de passe" id="password-confirm" [ngClass]="{'negatif':!verif}" [(ngModel)]="confirmPassword">
  </div>
  <div class="form-group">
    <input type="checkbox" [ngClass]="{'negatif':!veriftos}" style="margin-left: .5em" id="terms-of-service" [(ngModel)]="termofservice"><p [ngClass]="{'negatif':!veriftos}" style="display: inline; margin: .5em">Accepter les conditions d'utilisation du site</p>
    <button type="button" class="btn btn-primary" (click)="save()">
      <fa name="check"></fa>
    </button>
    <button type="validate" class="btn btn-warning" (click)="cancel()">
      <fa name="undo" inverse="true"></fa>
    </button>
  </div>

</div>

