
<div class="col-4" style="display: inline-flex; flex-direction: column"><h2>J'ai déjà un compte</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signin">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Mot de passe" id="password-signin">
  </div>
  <div class="form-group">
    <input type="checkbox" style="margin-left: .5em" id="remember-me"><p style="display: inline; margin: .5em">Rester connecté</p>
  </div>
</div>
<div class="col-8" style="display: inline-flex; flex-direction: column"><h2>Je créé mon compte LocAway :</h2>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Nom" id="first-name">
    <input type="text" class="form-control" placeholder="Prénom" id="last-name">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Adresse email" id="email-signup">
    <input type="text" class="form-control" placeholder="Numéro de téléphone" id="phone-number">
  </div>
  <div class="form-group" style="display: inline-flex; flex-direction: row">
    <input type="text" class="form-control" placeholder="Mot de passe" id="password-signup">
    <input type="text" class="form-control" placeholder="Confirmer le mot de passe" id="password-confirm">
  </div>
  <div class="form-group">
    <input type="checkbox" style="margin-left: .5em" id="terms-of-service"><p style="display: inline; margin: .5em">Accepter les conditions d'utilisation du site</p>
  </div>
</div>

